# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Env
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# Docker
*.pid
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
coverage.xml